.Chat-main
  .Chat-main__Group-info
    .Chat-main__Group-info__Container
      .Chat-main__Group-info__Container__Left
        .Chat-main__Group-info__Container__Left__group-name
          = @group.name
        %ul.Chat-main__Group-info__Container__Left__lists
          Member :
          - @group.users.each do |u|
            %li.Chat-main__Group-info__Container__Left__lists__list
              = u.name
      .Chat-main__Group-info__Container__Right
        = link_to edit_group_path(@group.id) ,class: "Chat-main__Group-info__Container__Right__edit-btn" do
          Edit

  .Chat-main__Message-list
    = render @messages
    


  .Chat-main__Message-form
    = form_with model: [@group, @message], local: true do |f|
      .Chat-main__Message-form__Container
        .Chat-main__Message-form__Container__Field
          = f.text_field :content, class: "Chat-main__Message-form__Container__Field__text", placeholder: "type a message"
          = f.label :image, class: "Chat-main__Message-form__Container__Field__image" do
            = icon('far', 'image')
            = f.file_field :image, class: "Chat-main__Message-form__Container__Field__image__btn"
        = f.submit 'Send', class: "Chat-main__Message-form__Container__submit"